.main-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 20px 0;
  background-color: #343a40;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 50px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  margin-bottom: 30px;
  &__link--main {
    margin-bottom: 10px;
    font-size: 36px;
    text-transform: uppercase;
    transition: color .4s;
    color: #fff;
    &:hover, &:focus {
      color: #00bfff !important;
    }
    &:active {
      color: #1e90ff !important;
    }
  }
  &__link--vk {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    &__block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      margin-right: 20px;
      font-size: 30px;
      color: #fff;
      background-color: #3b5999;
      transition: .4s;
    }
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 60px;
      transition: color .4s;
    }

    &:hover, &:focus {
      .contacts__link--vk__block {
        background: darken(#3b5999, 5%);
      }
      .contacts__link--vk__title {
        color: #00bfff;
      }
    }
    &:active {
      .contacts__link--vk__block {
        background: darken(#3b5999, 10%);
      }
      .contacts__link--vk__title {
        color: #1e90ff;
      }
    }
  }
  &__telephone {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    color: #fff;
  }
  &__address {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
    &--map {
      color: #00ced1;
      transition: color .4s;
      &:hover, &:focus {
        color: #00bfff !important;
      }
      &:active {
        color: #1e90ff !important;
      }
    }
  }
}

.page-navigation--footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 200px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  &__item:not(:last-of-type) {
    margin-bottom: 10px;
  }
  &__link {
    font-size: 20px;
    color: #fff;
    transition: color .4s;
    &:hover, &:focus {
      color: #00bfff !important;
    }
    &:active {
      color: #1e90ff !important;
    }
  }
}

.copyright {
  color: rgba(255, 255, 255, .5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__letter {
    margin-right: 10px;
  }
  &__title {
    margin-right: 10px;
  }
  &__authors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__author__link {
    margin-right: 10px;
    color: rgba(255, 255, 255, .5);
    transition: color .4s;
    &:hover, &:focus {
      color: #00bfff !important;
    }
    &:active {
      color: #1e90ff !important;
    }
  }
}

@media screen and (min-width: 576px){
  .footer-navigation {
    flex-direction: row;
    align-items: flex-start;
  }
}
